.advanced-search-form {
	margin-top: 50px;
	margin-bottom: 114px;
}

.advanced-search-form p {
	color: red;
}

.advanced-search-form .mid-row {
	margin-top: 25px;
	margin-bottom: 15px;
}

.user-search-form {
	margin-bottom: 194px;
}