.page-body {
	margin-top: 50px;
	margin-bottom: 247px;
}

.page-body .options-row {
	margin-top: 25px;
}

.page-body .options-row .col-md-1 {
	padding: 0;
}

.page-body .options-row .col-md-11 {
	padding-left: 0;
}