.panel-body {
	margin-top: 30px;
	margin-bottom: 50px;
}

.msg-row {
	color: red;
	font-weight: bold;
}

.subtitle-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.result-row {
	margin-top: 10px;
}