.search-form {
	margin-top: 50px;
	margin-bottom: 223px;
}

.advanced-search-form {
	margin-top: 50px;
	margin-bottom: 85px;
}

.search-form p, .advanced-search-form p {
	color: red;
}

.search-form .mid-row, .advanced-search-form .mid-row {
	margin-top: 25px;
	margin-bottom: 15px;
}

.login-form {
	margin-top: 26px;
	margin-bottom: 145px;
	
}

.login-form h4 {
	margin-bottom: 50px;
}